:root {
    /*--primary-town-color: #8A4C08;
    --hover-town-color: #5c4033;*/
    --primary-town-color: gold;
    --hover-town-color: blue;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/backdrops/matlockeBackdrop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#townBannerDiv {
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

#townNameBanner {
    height: 100%;
    width: 60%;
    border: 1px solid black;
}

#bottomContainerDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#leftColumnContainer {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.townBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 90%;
    height: 7%;
    margin: 5%;
    background-color: var(--primary-town-color);
    border: 1px solid black;
    opacity: .9;
}

.townBox:hover {
    background-color: var(--hover-town-color);
}

