:root {
    --primary-town-color: gold;
    --hover-town-color: blue;
    --status-primary-color: ;
    --status-background-color: #5e5440;
    --status-hover-color: #332c22;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/backdrops/matlockeBackdrop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#townBannerDiv {
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

#townNameBanner {
    height: 100%;
    width: 60%;
    border: 1px solid black;
}

#bottomContainerDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#leftColumnContainer {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.townBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 90%;
    height: 7%;
    margin: 5%;
    background-color: var(--primary-town-color);
    border: 1px solid black;
    opacity: .9;
}

.townBox:hover {
    background-color: var(--hover-town-color);
    font-weight: 500;
}

dialog {
    display: none;
}

#infoModal {
    height: 80vh;
    width: 80vw;
    border: 1px solid var(--primary-town-color);
    flex-direction: column;
    background-size: 100% 100%;
}

#infoTownTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 20%;
    width: 100%;
    background-color: var(--primary-town-color);
    font-weight: bold;
}

#infoTownDescription {
    margin-top: 32%;
    height: 50%;
    width: 100%;
    word-wrap: normal;
}

#infoCloseButtonDiv {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoCloseButton {
    background-color: darkgray;
    /*font-weight: 700;*/
    font-size: 1.2rem;
    width: 7%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

#infoCloseButton:hover {
    background-color: gray;
    font-weight: 500;
}

dialog::backdrop {
    background-color: black;
    opacity: .8;
}

#statusModal {
    height: 80vh;
    width: 80vw;
    background-color: var(--status-background-color);
    display: none;
    flex-direction: column;
    padding: 0px;
}

#statusTopBarContainer {
    height: 10%;
    max-height: 10%;
    width: 100%;
    display: flex;
}

.statusTopBarButton {
    font-size: 1.5rem;
    background-color: var(--status-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex: 1;
}

.statusTopBarButton:hover, #statusCloseButton:hover {
    font-weight: 500;
    background-color: var(--status-hover-color);
}

#statusCloseButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#statusCloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: var(--status-primary-color);
    height: 50%;
    width: 5%;
    margin: 1%;
}

#statusMiddleDiv {
    flex: 1;
}

#worldMapModal {
    height: 100vh;
    width: 100vw;
    border: none;
    padding: 0px;
}

#worldMapImage {
    height: 100%;
    width: 100%;
}

#mapCloseButton {
    position: absolute;
    right: 2%;
    bottom: 2%;
    background-color: var(--status-background-color);
    padding: 2px;
    background-color: darkgray;
}

#mapCloseButton:hover {
    font-weight: 500;
    background-color: gray;
}

